.book-detail-list li a{height: 290px;}
.book-detail-list li a.hover{height: 290px;}
.book-detail-list li a h4 {
    text-align: center;
}
.hot-list li.on a h4{color:#459df5}
.book-hd-list li a,.book-hd-list li a:visited{color: #333;}
.book-hd-list li.on a{color: #459df5;}
.book-detail-list li img {
    width: 173px;
    height: 240px;
}

.nav-tabs .nav-link.active {
    background-color: #bccaa0;
}
.book-detail-list li {
    margin-right: 20px;
    margin-left: 20px;
}
#user_tx{
    margin: 0 auto;
    width:100px;
    height: 100px;
    border-radius:100px;
    -webkit-animation:run 6s linear 0s infinite;
}

#user_tx:hover{
    -webkit-animation-play-state:paused;
}


@-webkit-keyframes run{
    from{
        -webkit-transform:rotate(0deg);
    }
    to{
        -webkit-transform:rotate(360deg);
    }
}