@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	background:#f5f5f5;
	font-family:'微软雅黑'
}
a{
	text-decoration:none;
}
.con{
	width:100%;
	float:left;
	min-height:5rem;
	margin-top:50px;
}
.con_cn{
	min-height:2rem;
	background:#fff;
	text-align:center;
	float:left;
	padding-top: 20px;
	width: 100%;
}
.con_cn h2{
	margin:0;
	font-size:1.5rem;
	color:#ff6b7b;
	font-weight: 300;
	font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 10px !important;
}
.con_cn h2 img{
	vertical-align:middle;
	width:26px;
	margin-right:10px;
}
.con_cn p{
	margin:0;
	font-size: 14px;
	color:#656565;
	line-height:1.7rem;
	margin-bottom: 20px;
}
.con_cn p a{
	color: #5c90d2;

}
.but{
	margin-bottom:50px;
	float: left;
	width: 100%;
}
.but a{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	border-radius: 20px;
	font-weight:600;
}
.but .btn-success {
    color: #fff;
    background-color: #46c37b;
    border-color: #34a263;
}
.but .btn-warning {
    color: #fff;
    background-color: #f3b760;
    border-color: #efa231;
}
.but .btn-default {
    color: #545454;
    background-color: #f5f5f5;
    border-color: #e9e9e9;
}
.but .btn-minw {
    min-width: 84px;
}
.foot{
	color: #999999;
	margin: 0 auto;
	max-width: 100%;
	overflow-x: visible;
	text-align:center;
	float: left;
	width: 100%;
	margin-top: 16px;
	font-size: 14px;
}
.foot a{
	color: #5c90d2;
}
@media screen and (min-width: 992px){
.con {
    margin-top: 150px;
}
}