@charset "utf-8";
/* CSS Document */

.header{ width:100%; height:100%; text-align:center; position:fixed; left:0; top:0; z-index:-1; background:#fff; overflow:hidden}
.header p{ max-width:640px; margin:0 auto; overflow:hidden}
.header p img{ width:100%;}

.container{ width:100%; position:absolute; left:0; top:55%; z-index:5; padding-bottom:40px; padding-top:40px; background:rgba(14,1,26,0.74); }
.upup{ width:100%; text-align:center; position:absolute; top:-50px; left:0;}
.upup img{-webkit-animation:upArrow 1.5s infinite ease-in-out;-moz-animation:upArrow 1.5s infinite ease-in-out;-ms-animation:upArrow 1.5s infinite ease-in-out;animation:upArrow 1.5s infinite ease-in-out}
.module1{ max-width:620px; padding:0 0px 10px; margin:0 auto; color:#fff; position:relative; overflow:hidden}
.myname{ font-size:30px; text-align:center; padding-top:10px; color:#fff; overflow:hidden}
.myname span{ font-size:16px; padding-left:3px;}
.callme{ padding:10px 0 0; text-align:center; overflow:hidden}
.callme a{ padding-left:28px; color:#fff; font-size:18px; background:url(../images/v_img96.png) no-repeat 0 center; background-size:20px;}
.allnum{ padding-top:20px; margin:0 4%; overflow:hidden}
.allnum li{ width:50%; float:left; text-align:center; font-size:16px; border-left:2px solid #fff; box-sizing:border-box; overflow:hidden}
.allnum li:first-child{ border-left:0}
.allnum li p{ padding-bottom:5px; font-size:18px;}
.allnum li em{ font-style:normal; font-size:18px;}
.allnum li a{ color:#fff}
.shouyi{ font-size:18px; color:#fff; text-align:center; padding:20px 0 0; overflow:hidden}
.shouyi strong{ font-size:20px; color:#ffbd56}
.shouyi a{ color:#ffbd56}
a.more1, a.more2{ float:right; color:#df9090; margin:10px 10px 0 0; text-decoration:underline; cursor:pointer}
a.more1:hover, a.more2:hover{ color:#df9090;}

.morebg{ width:100%; margin-top:10px; text-align:center; overflow:hidden}
a.more1{ float:none; padding-right:20px; background:url(../images/v_img114.png) no-repeat right center; background-size:18px; text-decoration:none; }
a.up{ background:url(../images/v_img115.png) no-repeat right center; background-size:18px; }

.iTitle{ width:100%;; position:relative; overflow:hidden;margin: 10px 0px;}
.iTitle img{ width:100%; vertical-align:bottom}
.iTitle span{ width:100%; height:30px; line-height:30px; font-weight:bold; color:#fff; position:absolute; left:0; top:50%; margin-top:-15px; font-size:18px; text-align:center; display:block}

.honorimg{ margin-top:20px; overflow:hidden}
.starlist{margin:15px 0 0; overflow:hidden}
.star{ line-height:24px; padding:4px 0 4px 30px; background:url(../images/v_img84.png) no-repeat 6px 6px; color:#fff; background-size:19px; font-size:14px;}
.star a{ color:#fff;}
.linklist{ margin:10px 0; overflow:hidden}
.linklist a{ width:24%; margin:10px 0 0 7%; font-size:14px; text-align:center; color:#fff; float:left; -webkit-tap-highlight-color:transparent; display:block; overflow:hidden}
.linklist a span{ width:90%; margin:0 auto; text-align:center; color:#fff; overflow:hidden; display:block}
.linklist a p{ height:26px; line-height:26px;}

.abouttext{ line-height:22px; color:#fff; margin:10px 0px 0; overflow:hidden}

.message{ padding-top:10px; margin:0 10px; overflow:hidden}
.message li{ width:100%; float:left; padding-bottom:0px; position:relative; overflow:hidden;text-align: center;}
.message li input{margin-bottom: 10px;}
.message li input[type=button]{ background: #ff4e49;border-bottom: 2px solid #bf1515;font-size: 18px;color: #ffffff;font-weight: bold;}
.txt{ width:100%; height:40px; line-height:40px; background:#ffffff; padding:0 5px; font-size:16px; color:#b1b1b1; border:1px solid #ffffff; border-radius:5px; font-family:microsoft yahei; -webkit-appearance:none; box-sizing:border-box; overflow:hidden}
.txt:focus{ border:1px solid #fc4837;}
.txt2{ width:100%; height:120px; line-height:22px; padding:5px 5px; background:#ffffff; font-size:16px; color:#b1b1b1; font-family:microsoft yahei; box-sizing:border-box; }
.message span{ height:26px; line-height:26px; color:#ff4e49; position:absolute; right:1%; top:7px;}
.btnLy{ width:180px; height:46px; border-radius:5px; color:#ffffff; font-size:18px; margin:0 auto; font-weight:bold; font-family:microsoft yahei; background:#ff4e49; border-bottom:2px solid #bf1515; -webkit-appearance:none; display:block}




@-webkit-keyframes upArrow{0%,30%{opacity:0;-webkit-transform:translate(0,10px)}60%{opacity:1;-webkit-transform:translate(0,0)}100%{opacity:0;-webkit-transform:translate(0,0)}}
@-moz-keyframes upArrow{0%,30%{opacity:0;-moz-transform:translate(0,10px)}60%{opacity:1;-moz-transform:translate(0,0)}100%{opacity:0;-moz-transform:translate(0,0)}}
@-ms-keyframes upArrow{0%,30%{opacity:0;-ms-transform:translate(0,10px)}60%{opacity:1;-ms-transform:translate(0,0)}100%{opacity:0;-ms-transform:translate(0,0)}}
@keyframes upArrow{0%,30%{opacity:0;transform:translate(0,10px)}60%{opacity:1;transform:translate(0,0)}100%{opacity:0;transform:translate(0,0)}}

