@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
	font-family:'微软雅黑';
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
a:hover{
	text-decoration:none;
}
.dangqi{
	width: 80%;
	margin-left: 10%;
	min-height: 9rem;
	float:left;
	background: -webkit-linear-gradient(left,#3ea3f5,#1461b9) no-repeat;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0rem 10rem 17rem #1461b9;
	text-align: center;
}
.dangqi span{
	line-height: 2.4rem;
	text-indent: 3%;
	color:#fff;
	font-size:0.9rem;
	display: inline-block;
	text-align: center;
	width: 100%;
}
.dangqi p{
	width:100%;
	text-align:center;
	font-size: 1rem;
	color:#8bc7f2;
	margin: 0;
}
.dangqi h2{
	margin:0;
	color:#fff;
	width:100%;
	font-size: 1.5rem;
	text-align:center;
	line-height: 2.5rem;
}
.dangqi label{
	width:30%;
	height:2rem;
	display:inline-block;
	margin:auto;
	text-align:center;
	background:#fff;
	line-height:2rem;
	color:#c26e6b;
	font-weight: 600;
	border-radius: 22px;
	margin-top: 1.3rem;
	font-size: 0.9rem;
}
.mun{
	width:100%;
	background:#fff;
	float: left;
	min-height: 18rem;
}
.mun .anniu{
	width:80%;
	margin-left:10%;
	margin-top: 1rem;
}
.anniu a{
	width:47%;
	height: 3rem;
	display:inline-block;
	text-align:center;
	color:#fff;
	border-radius: 24px;
	background: #1776d4;
	padding: 0.5rem 0;
}
.anniu .jiesuan{
	float: right;
    background: #ff923f;
}
.anniu a:hover{
	text-decoration:none;
}
.anniu a h4{
	font-size: 1rem;
	margin: 0;
}
.anniu a em{
	font-size: 0.8rem;
	font-style:normal;
	padding: 0;
	display: block;
}
.list{
	width:100%;
	margin: 0;
	margin-top: 0.7rem;
}
.list .title{
	width:100%;
	line-height:2.5rem;
	border-bottom:1px solid #ccc;
	height:2.5rem;
	text-indent: 3%;
	font-size: 0.9rem;
	color: #999;
}
.title strong{
	font-weight:100;
	margin-left:5%;
}
.hk_list ul{
	margin:0;
	padding:0;
	list-style:none;
}
.hk_list ul li{
	height:3rem;
	border-bottom: 1px solid #ccc;
}
.hk_list ul li .xiao{
	width:33.33%;
	height:3rem;
	float:left;
	text-align:left;
}
.xiao span{
	font-size: 0.9rem;
	display: block;
	margin-top: 0.4rem;
	line-height: 1;
}
.xiao em{
	font-size:0.8rem;
	color:#999;
	font-style:normal;
	line-height: 1;
}
.hk_list ul li .xiao1{
	width:33.33%;
	height:3rem;
	line-height:3rem;
	float:left;
	font-size:0.9rem;
	text-align: center;
}
.btu a{
	float: left;
    width: 80%;
    height: 2rem;
    display: inline-block;
    line-height: 2rem;
    text-align: center;
    border-radius: 4px;
	border: 1px solid #06C;
    color: #06C;
    font-size:0.9rem;
	margin:0.5rem 0;
    background-color: #f2f2f2;
    text-decoration: none;
}
.hk_list ul li .xiao2{
	width:33.33%;
	height:3rem;
	line-height:3rem;
	float:left;
	text-align:right;
	font-size:0.9rem;
}

.hk_list ul .yuqi{
	color:#ca6b5e !important;
}
.hk_list ul .yuqi em{
	color:#ca6b5e !important;
}
.hk_list ul .huanqing{
	color:#999 !important;
}
.hk_list ul .huanqing em{
	color:#999 !important;
}
.alert{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:99;
	background: rgba(0, 0, 0, 0.5);
	padding: 0;
	margin: 0;
}
.win{
	width:100%;
	min-height:2rem;
	position:absolute;
	bottom: 0px;
	background:#fff;
	z-index:100;
}
.win p{
	width:100%;
	height:3rem;
	margin:0;
	text-align:center;
	font-size: 1rem;
	line-height:3rem;
	border-bottom: 1px solid #e1e1e1;
	color: #1776d4;
	position:relative;
}
.win p a{
	color:#434343;
	font-size:0.9rem;
	position:absolute;
	right:5%;
}
.win p a:hover{
	text-decoration:none;
}
.xinxi{
	width:100%;
	min-height:3rem;
	float:left;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 3rem;
	padding: 0.5rem 0;
}
.xinxi li{
	line-height: 2.5rem;
	height: 2.5rem;
	font-size:0.9rem;
}
.xinxi li label{
	color:#999;
	display: inline-block;
	width: 26%;
}
.xinxi li .span{
	color:#ca6b5e;
}
.win .liji{
	display:inline-block;
	width:100%;
	line-height:3rem;
	height:3rem;
	text-align:center;
	color:#fff;
	font-size:1rem;
	background:#1776d4;
}