@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	font-family:'微软雅黑';
	padding:0;
}
::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #999;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
a:hover,a:link{
	text-decoration:none;
}
.head{
	width:100%;
	min-width:990px;
	height:67px;
	background:#2572bf;
	position:fixed;
	top:0;
}
.head_right{
	height:67px;
	line-height:67px;
	position:absolute;
	top:0;
	right:3%;
}
.head_right span{
	float:left;
	color:#fff;
	font-size:18px;
	display: block;
}
.head_right li{
	float:left;
}
.head_right span em{
	font-style:normal;
}
.head_right a{
	float:left;
	font-size:18px;
	color:#fff;
	padding-left: 22%;
	margin-left: 29%;
	max-height:67px;
}
.head_right .zhuxi{
	background:url(../images/zhuxiao.png) no-repeat center left;
	background-size: 23px;
	width: 90px;
	padding-left: 34%;
}
.head_right .xiugai{
	background:url(../images/xiugai.png) no-repeat center left;
	background-size: 20px;
	width: 119px;
}
.content{
	width:100%;
	margin-top:67px;
	overflow-x: hidden;
}
.nav{
	width:200px;
	height:100%;
	background:#2572bf;
	position:fixed;
	left:0;
	top:0;
}
.logo{
	width:100%;
	height:67px;
	border-bottom:1px solid #FFF;
	text-align:center;
}
.logo img{
	width: 34%;
	vertical-align:middle;
	margin-top: 17px;
	margin-left: 2%;
	margin-right: 2%;
}
.nav_list{
	width:100%;
	margin-top:35px;
}
.nav_list .yiji{
	min-height: 46px;
	line-height:46px;
	text-indent:60px;
	background:url(../images/fanhui.png) no-repeat center right 20px;
	background-size: 16px;
	background-position-y: 17px;
	float: left;
	width: 100%;
	display: grid;
}
.nav_list .yiji a{
	font-size:16px;
	color:#fff;
	display:block;
	width:100%;
	height:100%;
}
.nav_list .yiji .one{
	background: url(../images/loc1.png) no-repeat center left 27px transparent;
	background-size: 21px;
	background-position-y: 14px;
}
.nav_list .yiji .two{
	background: url(../images/lco2.png) no-repeat center left 27px transparent;
	background-size: 20px;
	background-position-y: 12px;
}
.nav_list .yiji .three{
	background: url(../images/lco3.png) no-repeat center left 27px transparent;
	background-size: 21px;
	background-position-y: 15px;
}
.nav_list .yiji .Four{
	background: url(../images/lco4.png) no-repeat center left 27px transparent;
	background-size: 22px;
	background-position-y: 12px;
}
.nav_list .yiji .Five{
	background: url(../images/lco5.png) no-repeat center left 27px transparent;
	background-size: 20px;
	background-position-y: 11px;
}
.nav_list .yiji .six{
	background: url(../images/lco6.png) no-repeat center left 27px transparent;
	background-size: 21px;
	background-position-y: 14px;
}
.nav_list .yiji .seven{
	background: url(../images/lco7.png) no-repeat center left 27px transparent;
	background-size: 19px;
	background-position-y: 13px;
}
.nav_list .erji{
	display:none;
}
.nav_list .erji li{
	line-height:30px;
	height:30px;
}
.nav_list .erji li:hover{
	background:url(../images/jiantou.png) no-repeat center left;
	background-size: 10px;
	background-position-x: 43px;
}
.nav_list .erji  .thisnav{
	background:url(../images/jiantou.png) no-repeat center left;
	background-size: 10px;
	background-position-x: 43px;
}
.nav_list .erji  .thisnav a{
	color:#fff;
}
.nav_list .erji li:hover a{
	color:#fff;
}
.nav_list .erji a{
	display:block;
	width:100%;
	height:100%;
	font-size: 14px;
	color:#000;
}
iframe{
    width: 100%;
    height: 100%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}


.con{
	height: calc(100% - 67px);
	margin-left:200px;
}
