@charset "utf-8";



body{

	font-family:'微软雅黑';

}

ul{

	margin:0;

	padding:0;

	list-style:none;

}

a:hover{

	text-decoration:none;

}

.banner{

	width:100%;

}

.banner img{

	width:100%;

}

.jkje{

	width:100%;

	min-height:2rem;

	float:left;

	padding-top:2rem;

}

.title{

	width:90%;

	margin-left:5%;

	line-height:2.5rem;

	height:2.5rem;

	font-size:1rem;

	text-align:center;

	position:relative;

	float: left;

}

.title hr{

	margin:0;

	padding:0;

	border-bottom: 2px solid #d7d7d7;

}

.title span{

	display:inline-block;

	height:2.5rem;

	background:#fff;

	padding:0 3%;

	position:absolute;

	top: -2.2rem;

	left:0;

	right:0;

	bottom:0;

	margin:auto;

	width: 34%;

	color: #898989;

	font-size: 1.1rem;

}

.siwt{
	width:70%;
	margin-left:15%;
	height: 1.7rem;
	margin-top: 2.5rem;
	float: left;
	position: relative;
	z-index: 3;
}
.siwt .cenjine{
	font-size: 32px;
	position: absolute;
	top: -3.5rem;
	width:100%;
	display:block;
	text-align:center;
}
.siwt a{
	width: 26px;
	display:block;
	background: #ccc;
	border-radius: 50%;
	height: 26px;
	position: absolute;
}
.siwt a img{
	width: 26px;
	height: 25px;
}
.siwt .jian{
	left: -16.1%;
	top: -0.4rem;
}
.siwt .jia{
	right: -18.9%;
	top: -0.3rem;
}
.slider-container {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.slider-container .back-bar {
  height: 10px;
  position: relative;
}
.slider-container .back-bar .selected-bar {
  position: absolute;
  height: 100%;
}
.slider-container .back-bar .pointer {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  cursor: col-resize;
  opacity: 1;
  z-index: 2;
}
.slider-container .back-bar .pointer.last-active {
  z-index: 3;
}
.slider-container .back-bar .pointer-label {
  position: absolute;
  top: -17px;
  font-size: 8px;
  background: white;
  white-space: nowrap;
  line-height: 1;
}
.slider-container .back-bar .focused {
  z-index: 10;
}
.slider-container .clickable-dummy {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slider-container .scale {
  top: 2px;
  position: relative;
}
.slider-container .scale span {
  position: absolute;
  height: 5px;
  border-left: 1px solid #999;
  font-size: 0;
}
.slider-container .scale ins {
  font-size: 9px;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 5px;
  color: #999;
  line-height: 1;
}
.slider-container.slider-readonly .clickable-dummy,
.slider-container.slider-readonly .pointer {
  cursor: auto;
}
.theme-green .back-bar {
  height: 1rem;
  border-radius: 2px;
  background-color: #eeeeee;
  background-color: #e1e1e1;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);
}
.theme-green .back-bar .selected-bar {
  border-radius: 8px;
  background-color: #5e81f3;
  background-image: -moz-linear-gradient(top, #bdfade, #76fabc);
  
  
  background-image: -o-linear-gradient(top, #bdfade, #76fabc);
  
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbdfade', endColorstr='#ff76fabc', GradientType=0);
}
.theme-green .back-bar .pointer {
  width: 31px;
  height: 31px;
  top: -0.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 43px;
  border: 1px solid #a3a3a3;
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  
  
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);
}
.theme-green .back-bar .pointer-label {
  color: #999;
}
.theme-green .back-bar .focused {
  color: #333;
}
.theme-green .scale span {
  border-left: 1px solid #e5e5e5;
}
.theme-green .scale ins {
  color: #999;
} 
.theme-blue .back-bar {
  height: 5px;
  border-radius: 2px;
  background-color: #eeeeee;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);
}
.theme-blue .back-bar .selected-bar {
  border-radius: 2px;
  background-color: #92c1f9;
  background-image: -moz-linear-gradient(top, #b1d1f9, #64a8f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b1d1f9), to(#64a8f9));
  background-image: -webkit-linear-gradient(top, #b1d1f9, #64a8f9);
  background-image: -o-linear-gradient(top, #b1d1f9, #64a8f9);
  background-image: linear-gradient(to bottom, #b1d1f9, #64a8f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb1d1f9', endColorstr='#ff64a8f9', GradientType=0);
}
.theme-blue .back-bar .pointer {
  width: 14px;
  height: 14px;
  top: -5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #AAA;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);
}
.theme-blue .back-bar .pointer-label {
  color: #999;
}
.theme-blue .back-bar .focused {
  color: #333;
}
.theme-blue .scale span {
  border-left: 1px solid #e5e5e5;
}

.shuzhi{
	width: 85%;
	margin-left: 7.5%;
	float:left;
}
.shuzhi li{
	float:left;
	font-size:1rem;
}
.shuzhi li:nth-child(2){
	float:right;
}
.jkqx{
	width:100%;
	min-height:2rem;
	float:left;
	padding-top:2rem;
}
.jkqx .qixian{
	width:90%;
	margin-left:5%;
	float:left;
	min-height:3rem;
}
.qixian li{
	width:22%;
	height:2.5rem;
	float:left;
	margin-right:3%;
	line-height:2.5rem;
	text-align:center;
	font-size:1rem;
	color:#e88305;
	background:#e1e3ef;
	border:1px solid #d6d9eb;
	border-radius:68px;
	margin-top: 0.2rem;
}
.qixian .action{
	color:#fff;
    background: #5270f1;
    border: 1px solid #5370f1;
}
.daoqi{
	width:90%;
	margin-left:5%;
	position:relative;
	float: left;
	margin-top: 0.7rem;
}
.daoqi li{
	width: 28%;
	text-align:center;
	float:left;
}
.daoqi li:nth-child(1){
	float:left;
}
.daoqi li:nth-child(2){
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.daoqi li:nth-child(3){
	float:right;
}
.daoqi li span{
	display:block;
	font-size: 0.9rem;
	color: #707070;
}
.daoqi li strong{
	display:block;
	font-size: 0.9rem;
	font-weight: 100;
	color: #21201f;
}
.tedian{
	float:left;
	width:80%;
	margin-left:10%;
	margin-top: 1rem;
	position:relative;
}
.tedian li{
	width: 26%;
	height: 21vw;
	position: relative;
}
.tedian li span{
	display:block;
	width:100%;
	text-align:center;
	font-size:0.95rem;
	position:absolute;
	bottom: -2rem;
}
.tedian li:nth-child(1){
	background: url(../image/qixian.png) no-repeat center #d7d7d7;
	background-size:50%;
	border-radius: 50px;
	float: left;
}
.tedian li:nth-child(2){
	background: url(../image/difei.png) no-repeat center #d7d7d7;
	background-size:50%;
	border-radius: 50px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
}
.tedian li:nth-child(3){
	background: url(../image/sd.png) no-repeat center #d7d7d7;
	background-size:50%;
	border-radius: 50px;
	float: right;
}
.con{
	float:left;
	width:94%;
	margin-left:3%;
	margin-bottom: 4rem;
	margin-top: 1.5rem;
}
.con .but1{
    width: 90%;
    margin-left: 5%;
    height: 3rem;
    display: block;
    margin-bottom: 0.4rem;
    line-height: 3rem;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1rem;
	background: -webkit-linear-gradient(left,#688ef5,#6179f3) no-repeat;
    box-shadow: 0rem 12px 51px #637ff3;
    color: #fff;
    margin-top: 2rem;
    text-align: center;
}
.con p {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    color: #434343;
    line-height: 2.5rem;
}
.con p img {
    width: 5%;
    margin-right: 1%;
}


.alert1{
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	position:fixed;
	top:0;
	left:0;
	z-index:10;
	padding: 0;
	display:none;
}
.win1{
	width:100%;
	min-height:2rem;
	position:absolute;
	bottom: 0px;
	background:#fff;
	z-index:100;
	display:none;
}
.win1 p{
	width:100%;
	height:3rem;
	margin:0;
	text-align:center;
	font-size: 1rem;
	line-height:3rem;
	border-bottom: 1px solid #e1e1e1;
	color: #ec2323;
	position:relative;
}
.win1 p a{
	color:#434343;
	font-size:0.9rem;
	position:absolute;
	right:5%;
}
.xinxi{
	width:100%;
	min-height:3rem;
	float:left;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 0.8rem;
	padding: 0.5rem 0;
}
.xinxi1{
	border-bottom:0;
}
.xinxi li{
    line-height: 2rem;
    height: 2rem;
    font-size: 0.9rem;
}
.xinxi li label{
	color:#999;
	display: inline-block;
	width: 26%;
}

.xinxi li .span{

	color:#ca6b5e;

}

.win1 .liji{

	display:inline-block;

	width:100%;

	line-height:3rem;

	height:3rem;

	text-align:center;

	color:#fff;

	font-size:1rem;

	background:#ec2323;
	
	border: 0;

}

.xinxi .Agreement{

	background:url(../image/dj2.png) no-repeat center left;

	background-size: 5%;

	background-position-x: 4%;

	font-size:0.9rem;

	color:#999;

	text-indent: 7%;

}

.colse{

	width: 30px;

	height: 30px;

	display:block;

	margin:auto;

	background:url(../image/X.png) no-repeat center #fff;

	position: absolute;

	bottom: 0;

	border-radius: 50%;

	left: 43.5%;

	background-size: 53%;

}
.alert2 .signature{
    z-index: 998;
    height: 212px;
    background: #fff;
    width: 100%;
}
.alert2{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    display: none;
}
.win2{
	background:#fff;
	width:94%;
	margin-left:3%;
	min-height: 7rem;
	float: left;
	font-size: 0.9rem;
}
.signature_border{
	width: 94%;
	min-height: 3rem;
	float: left;
	margin-top: 0.5rem;
	margin-left: 3%;
	border: 1px solid #db261c;
	margin-bottom: 0.5rem;
}
.anniu{
	width:90%;
	margin-left:5%;
	margin-top:0.5rem;
	height:2.5rem;
	float: left;
	text-align:center;
	margin-bottom: 0.5rem;
}
.anniu a{
	display:inline-block;
	height:2.5rem;
	width:30%;
	text-align:center;
	line-height:2.5rem;
	margin-left: 3%;
	margin-right: 3%;
	color:#fff;
}
.anniu .but2{
	background:#ec2323;
}
.anniu .but3{
	background:#fffc0b;
}