@charset "utf-8";
/* CSS Document */

html { overflow:hidden; }
/* background icon */
a.logout, .switch-content a, #nav_list>li>a i, #top_menu ul li a, #top_menu .btn, #handle li { background:url(../images/spr_icon.png) no-repeat; }
/* #top_data */
#top_data {
	height:52px;
	border-bottom:1px solid #000;
	background:#F1F7FA;
	background:-moz-linear-gradient(top, #FFF, #E8F2F7);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#E8F2F7));
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E8F2F7');
}
#logo {
	float:left;
	width:335px;
	height:45px;
	padding:7px 0 0 10px;
	overflow:hidden;
	background:url(../images/top_bg.png)
}
.top-text {
	float:right;
	height:21px;
	padding:15px 16px 0 0;
	line-height:21px;
	white-space:nowrap;
	vertical-align:middle;
}
.top-text span { vertical-align:middle; }
.top-text b {
	display:inline-block;
 *margin-top:-2px;
	vertical-align:middle;
	font-family:"Arial Black", "\5FAE\8F6F\96C5\9ED1", "\9ED1\4F53";
	font-size:16px;
	color:#D22323;
}
a.logout {
	display:inline-block;
	height:16px;
	margin-left:10px;
	padding-left:18px;
	line-height:17px;
	vertical-align:middle;
	background-position:0 -17px;
}
.top-hint {
	width:600px;
	margin:0 auto;
	padding-top:13px;
	text-align:center;
}
/* position:absolute */
#left_panel, #main, #nav_class, #nav_list, #handle, #main_frame, #main_frame iframe {
	position:absolute;
	top:53px;
	bottom:0;
}
/* #left_panel */
#left_panel {
	left:0;
	width:200px;
	overflow:hidden;
	border:5px solid #7098C4;
	background-color:#F3F6FB;
}
#nav_class {
	top:0;
	bottom:0;
	left:0;
	width:25px;
	width:26px\9;
	padding:3px 0 0;
	border:1px solid #D2DFEB;
	border-right-color:#F0F5F9;
	border-right-color:#8BB0D0\9;
	background:#DEE9F2;
	-webkit-box-shadow:1px 0 0 #8BB0D0;
	-moz-box-shadow:1px 0 0 #8BB0D0;
	box-shadow:1px 0 0 #8BB0D0;
}
#nav_class li {
	width:15px;
	margin:0 auto;
	padding:7px 0;
	text-align:center;
	border-top:1px solid #F2F6FA;
	border-bottom:1px solid #B6CEE3;
	background-position:4px -54px;
}
#nav_class li:first-child { border-top:none }
#nav_class li:last-child { border-bottom:none }
#nav_class li.focus {
	width:14px;
	margin-top:-1px;
	padding:9px 5px;
	border:solid #8BB0D0;
	border-width:1px 0;
	border-left:3px solid #58C112;
	-moz-border-left-colors:#58C112 #58C112 #49A50B;
	background:#F3F6FB;
}
#nav_class li a { line-height:14px; }
#nav_class li a:hover {
	text-decoration:none;
	color:#58C112;
}
.switch-content {
	height:16px;
	margin:0 0 0 35px;
	padding:9px 0;
}
.switch-content a {
	display:inline-block;
	height:15px;
	margin-right:10px;
	padding-left:15px;
	line-height:15px;
	line-height:17px\9;
	overflow:hidden;
}
/* .switch-content */
.switch-content a.open { background-position:0 -75px; }
.switch-content a.close { background-position:0 -55px; }
.switch-content a:hover { color: #58C112; }
/* #nav_list */
#nav_list {
	top:31px;
	right:4px;
	bottom:4px;
	left:32px;
	padding:0 1px 1px;
	overflow:auto;
	border:1px solid #C2D7E9;
	background:#FFF;
}
#nav_list>li>a {
	display:block;
	height:30px;
	padding:0 0 0 20px;
	line-height:31px;
	overflow:hidden;
	border-top:1px solid #FFF;
	border-bottom:1px solid #E6EEF5;
	background:#F6F8FD;
	background:-moz-linear-gradient(top, #F9FCFE, #F9FCFE 49%, #F6F8FD 50%);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F9FCFE), color-stop(0.49, #F9FCFE), color-stop(0.5, #F6F8FD));
}
#nav_list>li>a:hover, #nav_list>li>a.focus {
	text-decoration:none;
	color:#386790;
	background:#E4EEF5;
	background:-moz-linear-gradient(top, #E4EEF5, #E4EEF5 49%, #D5E3EF 50%);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#E4EEF5), color-stop(0.49, #E4EEF5), color-stop(0.5, #D5E3EF));
}
#nav_list>li>a i {
	float:left;
	width:7px;
	height:7px;
	margin:11px 0 0 -12px;
	background-position:1px -104px;
	-moz-transition:	-moz-transform 0.2s ease-in;
	-webkit-transition:	-webkit-transform 0.2s ease-in;
	-o-transition:		-o-transform 0.2s ease-in;
	transition:			transform 0.2s ease-in;
}
#nav_list>li>a.open i {
	background-position:0 -128px\9;
	-moz-transform:		rotate(90deg);
	-webkit-transform:	rotate(90deg);
	-o-transform:		rotate(90deg);
	transform:			rotate(90deg);
}
#nav_list>li li a {
	display:block;
	height:26px;
	padding:0 0 0 20px;
	line-height:27px;
	overflow:hidden;
	color:#6F90AE;
	border-bottom:1px dashed #DCE6EF;
}
#nav_list>li li:last-child a { border-bottom:none; }
#nav_list>li li a:hover, #nav_list>li li a.focus {
	text-decoration:none;
	color:#386790;
	background:#E8EEF8;
}
/* #main */
#main {
	right:0;
	left:205px;
	overflow:hidden;
	border:5px solid #7098C4;
	background:#FFF;
}
#main.fullscreen {
	left:0;
	top:0;
	z-index:100;
}
/* #top_menu */
#top_menu {
	position:relative;
	height:32px;
	padding-bottom:2px;
	overflow:hidden;
	border-bottom:1px solid #7098C4;
	background:#C5DAF1;
}
.top_menu_box {
	height:27px;
	padding:4px 0 0;
	border-bottom:1px solid #7098C4;
	background:#F1F8FD;
	background:-moz-linear-gradient(top, #F1F8FD, #DAE8F6);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F1F8FD), to(#DAE8F6));
}
.top_menu_contents {
	height:28px;
	margin:0 13px;
	overflow:hidden;
	position:relative;
}
#top_menu ul {
	position:absolute;
	top:0;
	left:0;
}
#top_menu ul li {
	float:left;
	height:26px;
	margin:0 1px 5px 0;
	padding:0 7px 0 8px;
	line-height:26px;
	color:#6F90AE;
	border:1px solid #7098C4;
	border-bottom:0 none;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	background:#EAF2FB;
	background:-moz-linear-gradient(top, #FFF, #E0ECF9 5%, #EAF2FB);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), color-stop(0.05, #E4EEF5), to(#EAF2FB));
	cursor:pointer;
}
#top_menu ul li:hover {
	background:#F3F7FC;
	background:-moz-linear-gradient(top, #FFF, #F3F7FC 5%, #ECF3FB);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), color-stop(0.05, #F3F7FC), to(#ECF3FB));
}
#top_menu ul li.focus {
	height:27px;
	font-weight:bold;
	color:#386790;
	background:#C5DAF1;
	background:-moz-linear-gradient(top, #FFF, #DCE9F7 5%, #C5DAF1);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), color-stop(0.05, #DCE9F7), to(#C5DAF1));
}
#top_menu ul li a {
	display:inline-block;
	width:10px;
	height:10px;
	margin-left:4px;
	line-height:10;
	vertical-align:middle;
	overflow:hidden;
	background-position:0 -243px;
	-webkit-transition:	-webkit-transform 0.4s ease-in;
	-o-transition:		-o-transform 0.4s ease-in;
	transition:			transform 0.4s ease-in;
}
#top_menu ul li a:hover {
	background-position:0 -253px;
	-webkit-transform:	rotate(360deg) scale(1.4);
	-o-transform:		rotate(360deg) scale(1.4);
	transform:			rotate(360deg) scale(1.4);
}
#top_menu .btn {
	position:absolute;
	top:4px;
	width:11px;
	height:23px;
	line-height:10;
	overflow:hidden;
}
#top_menu .left {
	left:1px;
	background-position:0 -157px
}
#top_menu .right {
	right:1px;
	background-position:-11px -157px
}
#top_menu .left:hover { background-position:0 -203px }
#top_menu .right:hover { background-position:-11px -203px }
#top_menu .left.disabled { background-position:0 -180px }
#top_menu .right.disabled { background-position:-11px -180px }
/* #handle */
#handle {
	top:35px;
	right:0;
	left:0;
	height:15px;
	padding:6px 3px;
	overflow:hidden;
	border-bottom:1px solid #DBE8F2;
	background:#ECF4FC;
}
#handle li {
	float:left;
	line-height:15px;
	padding:0 9px 0 23px;
	border-left:1px solid #FFF;
	border-right:1px solid #BFD6ED;
}
#handle li:first-child { border-left:0 none; }
#handle li:nth-child(4) {
border-right:0 none;
}
#handle li.back { background-position:7px -614px; }
#handle li.go { background-position:7px -634px; }
#handle li.refresh { background-position:5px -657px; }
#handle li.screen {
	padding-left:25px;
	background-position:7px -680px;
}
#handle li.undo {
	padding-left:25px;
	background-position:7px -701px;
}
#handle li.close-all {
	float:right;
	border:0 none;
	background-position:7px -746px;
	background-position:7px -747px\9;
}
/* #main_frame */
#main_frame {
	top:63px;
	right:0;
	left:0;
}
#main_frame iframe {
	top:0;
	width:100%;
	height:100%;
}
