@font-face {
  font-family: 'iconfont';
  /* project id 714880 */
  src: url("../font/font_714880_9wj0leveuz7.eot");
  src: url("../font/font_714880_9wj0leveuz7.eot?#iefix") format("embedded-opentype"), url("../font/font_714880_9wj0leveuz7.woff") format("woff"), url("../font/font_714880_9wj0leveuz7.ttf") format("truetype"), url("../font/font_714880_9wj0leveuz7.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 13px;
  font-family: Raleway, sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #faffbd !important;
  background-image: none !important;
  color: black !important;
}

[v-cloak] {
  display: none;
}

td,
th {
  text-align: center;
}

pre {
  margin-top: 5px;
}

[v-cloak] {
  display: none;
}

.an-logo-heading a {
  color: red;
  font-size: 18px;
}

.modal {
  z-index: 999999;
}

.panel-heading {
  color: white;
}

.panel-footer {
  min-height: 55px;
}

.an-sidebar-nav {
  background: -webkit-gradient(linear, left top, right top, from(#141E30), to(#243B55)) !important;
  background: linear-gradient(to right, #141E30, #243B55) !important;
}

.bg-gradient-wiretap {
  background: -webkit-gradient(linear, left top, right top, from(#8a2387), color-stop(#e94057), to(#f27121)) !important;
  background: linear-gradient(to right, #8a2387, #e94057, #f27121) !important;
}

.bg-gradient-yellow {
  background: -webkit-gradient(linear, left top, right top, from(#F7971E), to(#FFD200)) !important;
  background: linear-gradient(to right, #F7971E, #FFD200) !important;
}

.bg-gradient-sulphur {
  background: -webkit-gradient(linear, left top, right top, from(#CAC531), to(#F3F9A7)) !important;
  background: linear-gradient(to right, #CAC531, #F3F9A7) !important;
}

.bg-gradient-green {
  background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d)) !important;
  background: linear-gradient(to right, #11998e, #38ef7d) !important;
}

.bg-gradient-blue {
  background: -webkit-gradient(linear, left top, right top, from(#00B4DB), to(#0083B0));
  background: linear-gradient(to right, #00B4DB, #0083B0);
}

.bg-gradient-jshihe {
  background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59)) !important;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59) !important;
}

.bg-gradient-tron {
  background: -webkit-gradient(linear, left top, right top, from(#C6FFDD), color-stop(#FBD786), to(#f64f59)) !important;
  background: linear-gradient(to right, #C6FFDD, #FBD786, #f64f59) !important;
}

.bg-gradient-vine {
  background: -webkit-gradient(linear, left top, right top, from(#00bf8f), to(#001510)) !important;
  background: linear-gradient(to right, #00bf8f, #001510) !important;
}

.table-search-header {
  padding: 8px 15px;
  background: -webkit-gradient(linear, left top, right top, from(#f3f5f2), to(#dcdfdb)) !important;
  background: linear-gradient(to right, #f3f5f2, #dcdfdb) !important;
}

.table-search-header label {
  width: 80px;
  text-align: right;
  margin-right: 8px;
  margin-bottom: 0;
  vertical-align: middle;
}

.table-search-header .form-control {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .table-search-header .form-control {
    width: auto;
    max-width: 210px !important;
  }
}

.table-search-header .form-inline {
  line-height: 35px;
}

.an-header {
  z-index: 9999 !important;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
          align-items: stretch;
  width: 100%;
}

.input-group > .form-control,
.input-group > .custom-select,
.input-group > .custom-file {
  position: relative;
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group > .form-control:focus,
.input-group > .custom-select:focus,
.input-group > .custom-file:focus {
  z-index: 3;
}

.input-group > .form-control + .form-control,
.input-group > .form-control + .custom-select,
.input-group > .form-control + .custom-file,
.input-group > .custom-select + .form-control,
.input-group > .custom-select + .custom-select,
.input-group > .custom-select + .custom-file,
.input-group > .custom-file + .form-control,
.input-group > .custom-file + .custom-select,
.input-group > .custom-file + .custom-file {
  margin-left: -1px;
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .form-control:not(:first-child),
.input-group > .custom-select:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group > .custom-file {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.input-group > .custom-file:not(:last-child) .custom-file-label,
.input-group > .custom-file:not(:last-child) .custom-file-label::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .custom-file:not(:first-child) .custom-file-label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-prepend,
.input-group-append {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.input-group-prepend .btn,
.input-group-append .btn {
  position: relative;
  z-index: 2;
}

.input-group-prepend .btn + .btn,
.input-group-prepend .btn + .input-group-text,
.input-group-prepend .input-group-text + .input-group-text,
.input-group-prepend .input-group-text + .btn,
.input-group-append .btn + .btn,
.input-group-append .btn + .input-group-text,
.input-group-append .input-group-text + .input-group-text,
.input-group-append .input-group-text + .btn {
  margin-left: -1px;
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-append {
  margin-left: -1px;
}

.input-group-text {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-group-text input[type="radio"],
.input-group-text input[type="checkbox"] {
  margin-top: 0;
}

.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

