@charset "utf-8";
/* CSS Document */
body{
	background-color:#fff;
	font-size:12px;
}
::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #999;
}
a {
    color: #06C;
    cursor: pointer;
}
.nestable{
	padding:20px;
}
.secure{
	border-bottom:1px solid #ddd;
}
.margin-b-20 {
    margin-bottom: 20px;
}
.console-title {
    padding: 16px 0px;
    min-height: 70px;
    border-bottom: 1px solid #e1e1e1;
}
.console-title h5 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    display: inline-block;
    text-indent: 8px;
    border-left: 2px solid #88B7E0;
    margin-right: 8px;
}
.margin-top, .margin-top-1 {
    margin-top: 8px !important;
}
.userHeadInfo {
    position: relative;
}
.userHeadInfo .headimg {
    position: absolute;
    top: 50%;
    left: 0;
    width: 148px;
    overflow: hidden;
    height: 142px;
    margin-top: -71px;
}
.pull-left {
    float: left !important;
}
.userHeadInfo .headimg img {
    border-radius: 8px;
    width: 120px;
    height: 120px;
}
.userHeadInfo .headimg img + span {
    display: inline-block;
    width: 120px;
    text-align: center;
    padding-top: 5px;
}
.userHeadInfo .summary {
    margin-left: 148px;
    padding-bottom: 20px;
    min-height: 120px;
    box-sizing: content-box;
}
.secure .summary {
    padding-top: 20px;
}
.userHeadInfo .info-right {
    padding-left: 70px;
    position: relative;
    line-height: 30px;
}
.userHeadInfo .info-right:first-child {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.userHeadInfo .info-right .info-til {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.console-title-border {
    border-bottom: 1px solid #DDD;
}
label.control-label {
    font-weight: normal;
    font-size: 12px;
    color: #666;
}
.flash-wrap {
    position: relative;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs {
    margin-bottom: 10px;
}
.margin-t-20 {
    margin-top: 20px;
}
.nav-tabs {
    border-color: #ddd;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav-tabs>li {
    margin-left: -1px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    z-index: 1;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav > li {
    position: relative;
    display: block;
}
.nav-tabs>li.active {
    border-top: 0px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    z-index: 3;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs>li>a, .nav-tabs>li>a:focus {
    color: #666;
    border-left: 0px;
    border-right: 0px;
    margin-right: 0px;
    padding: 10px 16px;
    background: #FBFAF8;
    border-bottom: 0px;
    font-size: 14px;
}
.nav-tabs > li > a {
    line-height: 1.42857143;
    border-radius: 4px 4px 0 0;
}
.nav-tabs>li>a, .nav-tabs.nav-justified>li>a {
    border-radius: 0px 0px 0px 0px;
}
.nav-tabs>li>a:hover {
    background-color: #FFF;
    color: #09C
}
.btn-grayBg:hover{background-color: #09c;border-color:#09c}
.btn-grayBg:hover span,.btn-grayBg:hover .glyphicon{color: #fff;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border-top: 2px solid #00a2ca;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #FFF;
    color: #333;
}
.flash-wrap .flash-btn {
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: content-box;
    height: 14px;
    line-height: 14px;
    margin-right: 0;
    display: none;
}
.btn-grayBg {
    background-color: #f6f6f6;
    border: 1px solid #e9e9e9;
    color: #333;
    margin-right: 5px;
}
.btn {
    border-radius: 0px;
    padding: 8px 25px;
    height: 32px;
    line-height: 14px;
}
.tab-content > .active {
    display: block;
}
.fade.in {
    opacity: 1;
}
.public-infoTab {
    background-color: #fefefe;
    overflow: hidden;
    zoom: 1;
    clear: both;
    border-top: 1px solid #c9d4da;
    border-left: 1px solid #c9d4da;
}
.public-infoTab .title {
    height: 38px;
    line-height: 38px;
    background-color: #d7e9fd;
    padding-left: 20px;
    border-bottom: 1px solid #c9d4da;
    border-right: 1px solid #c9d4da;
    font-size: 0;
}
.public-infoTab .title span {
    vertical-align: middle;
    display: inline-block;
}
.font-s-16 {
    font-size: 16px;
}
.padding-l, .padding-l-10 {
    padding-left: 10px;
}
.font-s-12 {
    font-size: 12px;
}
.public-infoTab .wp_box {
    padding: 0 !important;
    box-sizing: content-box;
}
.public-infoTab dl {
    margin-bottom: 0;
    box-sizing: content-box;
    overflow: hidden;
    border-right: 1px solid #c9d4da;
    border-bottom: 1px solid #c9d4da;
}
.public-infoTab dt {
    height: 28px;
    line-height: 28px;
    width: 120px;
    text-align: right;
    padding-right: 5px;
    font-weight: normal;
    overflow: hidden;
    background-color: #edf2f6;
    box-sizing: content-box;
}
.public-infoTab .tow-cols dt {
    width: 190px;
}
.public-infoTab dt, .public-infoTab dd {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
.public-infoTab dd {
    padding-left: 5px;
    overflow: hidden;
    height: 28px;
    line-height: 28px;
    box-sizing: content-box;
}
.table {
    background: #FFF;
    font-size: 12px;
    border-top: 1px solid #e1e6eb;
    border: 1px solid #e1e6eb;
}
.table tbody tr td {
    padding: 12px 8px;
    border-top: 0px;
    border-bottom: 1px solid #e1e6eb;
    vertical-align: middle;
}
.public-selectArea .wp_box {
    padding: 0 !important;
    box-sizing: content-box;
}
.public-selectArea {
    background-color: #fefefe;
    overflow: hidden;
    zoom: 1;
    clear: both;
    border-top: 1px solid #c9d4da;
    border-left: 1px solid #c9d4da;
}
.public-selectArea dl {
    margin-bottom: 0;
    box-sizing: content-box;
    overflow: hidden;
    border-right: 1px solid #c9d4da;
    border-bottom: 1px solid #c9d4da;
}
.public-selectArea dt {
    height: 28px;
    line-height: 28px;
    width: 120px;
    text-align: right;
    padding-right: 5px;
    font-weight: normal;
    overflow: hidden;
    background-color: #edf2f6;
    box-sizing: content-box;
}
.public-selectArea dt, .public-selectArea dd {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
.public-selectArea dd {
    padding-left: 5px;
    overflow: hidden;
}
.public-selectArea select, .public-infoTab select {
    height: 26px;
    padding: 0 0 0 3px;
    border-radius: 3px;
    box-sizing: content-box;
}
select {
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
}
.Wdate {
    border: #ccc 1px solid;
    height: 32px;
    padding: 0 6px;
    background: #fff url(../images/datePicker.gif) no-repeat right;
}
.public-selectArea input, .public-infoTab input {
    width: 153px;
    height: 18px;
    line-height: 18px;
    padding: 4px 5px 4px 3px;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    box-sizing: content-box;
}
.public-selectArea .time-inp, .public-infoTab .time-inp {
    width: 105px;
}
.public-selectArea .btnArea {
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid #c9d4da;
    border-bottom: 1px solid #c9d4da;
}
.public-selectArea .btnArea .btn {
    margin: 0 10px;
}
.btn-sereachBg {
    background-color: #09c;
    color: #fff;
}
.btn {
    border-radius: 0px;
    padding: 8px 25px;
    height: 32px;
    line-height: 14px;
}
.public-label, .public-ico {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
}
.public-label,.public-ico{display: inline-block;vertical-align: middle;color: #fff;font-size: 12px;}
.public-ico{padding-right: 5px; }
.btn-sereachBg:hover {
    background-color: #30acd5;
}
_:-webkit-any-link, :root .tab-pane .scroll-bar-table .table {
    border-collapse: separate;
}
.scroll-bar-table table {
    margin-top: 0;
}
.table tbody tr td {
    padding: 12px 8px;
    border-top: 0px;
    border-bottom: 1px solid #e1e6eb;
    vertical-align: middle;
}
.table thead tr th {
    padding: 8px 8px;
    font-weight: normal;
    color: #666;
    border-bottom: 1px solid #e1e6eb;
    background-color: #F5F6FA;
}


.public-tabBox .orderDetails{
	border:2px solid #ccc;
	padding: 20px;
	margin: 20px;
}
.orderNum{
	font-size: 16px;
    color: #3070fc;
	margin-bottom:10px;
}
.cont{
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
.cont p{
	line-height: 30px;
	font-size:14px;
	margin: 0;
	color: #909090;
}
.cont p{
	width:100%;
	float:left;
}
.cont p span{
	width:33%;
	display:block;
	float:left;
}
.cont p span label{
	display:inline-block;
	width: 90px;
	font-weight: 500;
}
.cont p span var{
	font-style:normal;
	color:#464646;
}
.orderBody{
	margin-top: 10px;
	border-top: 1px dashed #ccc;
	padding-top: 20px;
}
.orderBody .orderTitle{
	font-size: 16px;
    color: #3070fc;
	margin-bottom:10px;
}
.orderBody table th{
	font-weight:500;
	font-size: 14px;
	color: #909090;
}
.orderBody table{
	width:100%;
	line-height: 30px;
}
.td1{
	width:15%;
}
.td2{
	width:55%;
}
.orderBody table td{
	font-size:14px;
	color:#464646;
}
.orderBody table td a{
	color:#464646;
}
.orderBody table td a:hover{
	text-decoration:none;
}