body,input,ul,ol,a,p,h1,h2,h3,h4,h5,h6{
    padding:0;
    margin:0;
    outline:none;
    text-decoration:none;
    list-style:none;
}
.clear-b:before {
    display: block;
    content: '';
    clear: both;
}
.clear-a:after {
    display: block;
    content: '';
    clear: both;
}
/*输入框默认样式*/
input[type=text], input[type=password] {
    width: 312px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #f2f2f2;
    padding-left: 10px;
}
/*按钮默认样式*/
input[type=button] {
    width: 322px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    color: #fff;
}
input[type=checkbox]{
    display: inline-block;
    margin-top: 10px;
}



h5{
    color: #4e566a;
}
a {
    color: #587ffd;
    font-size:10px;
    
}
.fl{
    float:left;
}
.fr{
    float:right;
}
/* 单选框 */
.ckbox {
    position: relative;
    top:-10px;
    display: block;
    
}
.ck_font {
    font-size: 10px;
    display: inline-block;
    height: 16px;
    color: #757575;
    position: absolute;
    top: 8px;
    left: 20px;
}
input:focus
{ 
    border-color:#5781fc;
    caret-color: #5781fc;
    color: #5781fc;
}
.btn{
    width: 300px;
    height: 40px;
    color: #fff;
    border-radius:2px;
    cursor: pointer;
    border: none;
}
.head_c_w{
    width: 1200px;
    margin: 0 auto;
}
.warp .lineae_active{
    background: #5780fe;
}
.logo{
    display: inline-block;
    width: 174px;
    height: 80px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: left center;
}