html,body {
	color: #333;
	margin: 0;
	height: 100%;
	font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

a {
	text-decoration: none;
	color: #000
}

a,label,button,input,select {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

img {
	border: 0
}

body {
	background: #fff;
	color: #666
}

html,body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,p,blockquote,pre,button,fieldset,form,input,legend,textarea,th,td {
	margin: 0;
	padding: 0
}

a {
	text-decoration: none;
	color: #08acee
}

button {
	outline: 0
}

img {
	border: 0
}

button,input,optgroup,select,textarea {
	margin: 0;
	font: inherit;
	color: inherit;
	outline: none
}

li {
	list-style: none
}

a {
	color: #666
}

.clearfix::after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden
}

.clearfix {
}

.divHeight {
	width: 100%;
	height: 10px;
	background: #f5f5f5;
	position: relative;
	overflow: hidden
}

.r-line {
	position: relative
}

.r-line:after {
	content: '';
	position: absolute;
	z-index: 0;
	top: 0;
	right: 0;
	height: 100%;
	border-right: 1px solid #D9D9D9;
	-webkit-transform: scaleX(0.5);
	transform: scaleX(0.5);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0
}

.b-line {
	position: relative
}

.b-line:after {
	content: '';
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #e2e2e2;
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%
}

.aui-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 20px;
	position: relative
}

.aui-flex-box {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	min-width: 0;
	font-size: 12px;
	color: #333;
	margin-left: 25px
}

.aui-flexView {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.aui-scrollView {
	width: 100%;
	height: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	position: relative
}

.aui-navBar {
	height: 380px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	z-index: 0000;
	background: #108ee9
}

.aui-navBar-item {
	height: 44px;
	min-width: 25%;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 25%;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	padding: 0 .9rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: .7rem;
	white-space: nowrap;
	overflow: hidden;
	color: #808080;
	position: relative
}

.aui-navBar-item:first-child {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
	margin-right: -25%;
	font-size: .9rem;
	font-weight: bold
}

.aui-navBar-item:last-child {
	-webkit-box-ordinal-group: 4;
	-webkit-order: 3;
	-ms-flex-order: 3;
	order: 3;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.aui-center {
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 44px;
	width: 60%;
	margin-left: 15%
}

.aui-center-title {
	text-align: left;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	font-size: 1rem;
	color: #fff
}

.icon {
	width: 20px;
	height: 20px;
	display: block;
	border: none;
	float: left;
	background-size: 20px;
	background-repeat: no-repeat
}


.aui-free-head {
	position: relative;
	width: 100%;
	padding: 333xp;
	height: 350px;
	background-color: #c14443
}

.aui-arrow {
	padding-right: 13px;
	position: relative;
	text-align: right;
	color: #808080
}

.aui-user-img img {
	width: 50px;
	height: 50px;
	border: 2px solid rgba(255,255,255, .5);
	border-radius: 100%
}

.aui-flex-box h2 {
	color: rgba(243, 229, 229, .8);
	font-weight: normal;
	font-size: .85rem;
	margin-bottom: .2rem
}

.aui-flex-box p {
	color: rgba(255,255,255, 1);
	font-weight: normal;
	font-size: 1.2rem
}

.aui-flex-box p em {
	font-style: normal;
	font-size: .8rem;
	margin-left: -5px
}

.aui-arrow p {
	color: #fff;
	font-size: .8rem
}

.aui-arrow:after {
	content: " ";
	display: inline-block;
	height: 8px;
	width: 8px;
	border-width: 2px 2px 0 0;
	border-color: #fff;
	border-style: solid;
	-webkit-transform: matrix(0.71, .71, -0.71, .71, 0, 0);
	transform: matrix(0.71, .71, -0.71, .71, 0, 0);
	position: relative;
	top: -2px;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	right: 2px;
	border-radius: 2px
}

.aui-free-head .b-line:after {
	left: 20px;
	width: 92%;
	border-color: rgba(255,255,255, .5)
}

.aui-flex-text {
	text-align: center
}

.aui-flex-text h2 {
	text-align: center
}

.aui-flex-text h3 {
	color: #fff;
	font-weight: normal;
	font-size: 2.5rem;
	margin: .8rem 0
}

.aui-flex-text p {
	color: rgba(255,255,255, .8);
	font-weight: normal;
	font-size: .85rem
}

.aui-button {
	width: 100%;
	position: absolute;
	bottom: 40px
}

.aui-button button {
	width: 80%;
	background: #eace99;
	border-radius: 10px;
	color: #000;
	font-size: 1rem;
	display: block;
	margin: 0 auto;
	border: none;
	padding: .8rem 0;
	box-shadow: 0 1px 15px #f0c677
}

.cell-right {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	min-height: 1rem;
	color: #ccc;
	text-align: justify;
	font-size: .8rem;
	padding-right: .24rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-left: 2rem
}

.cell-right p {
	color: #ccc;
	font-size: .8rem
}

.cell-right em {
	color: #333;
	font-style: normal
}

.cell-right input[type="radio"],.cell-right input[type="checkbox"]:not(.m-switch) {
	-webkit-appearance: none;
	-moz-appearance: none;
	position: absolute;
	left: -9999em
}


.aui-flex-box h1 {
	padding-left: 1rem;
	position: relative;
	font-weight: normal;
	color: #2f2f2f;
	font-size: 1rem
}

.aui-flex-box h1:after {
	content: '';
	position: absolute;
	z-index: 0;
	top: 2px;
	left: 0;
	width: 5px;
	height: 80%;
	background-image: -webkit-gradient(linear,left top,bottom top,from(#1acab5),to(#19ebaf));
	background-image: -webkit-linear-gradient(left,#1acab5,#19ebaf);
	background-image: -moz-linear-gradient(left,#1acab5,#19ebaf);
	background-image: linear-gradient(to bottom,#1acab5,#19ebaf);
	background-color: #19ebaf
}



.am-process {
	min-height: 280px;
	padding: 20px 20px 15px;
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: -webkit-linear-gradient(to top, #eee, #eee 33%, transparent 33%) left bottom no-repeat;
	background: linear-gradient(to top, #eee, #eee 33%, transparent 33%) left bottom no-repeat;
	-webkit-background-size: 100% 0px;
	background-size: 100% 0px;
	background-color: #c14443
}

.am-process .am-process-item {
	display: block;
	position: relative;
	min-height: 40px;
	padding-top: 30px
}

.am-process .am-process-item .am-icon.process,.am-process .am-process-item .am-icon.process-inpage {
	position: absolute;
	top: 30px;
	left: 0;
	height: 24px;
	width: 24px;
	z-index: 100
}

.am-process .am-process-item .am-process-content {
	margin-left: 39px
}

.am-process .am-process-item .am-process-content .am-process-main {
	font-size: 17px;
	color: #000;
	line-height: 24px;
	margin-bottom: 3px
}

.am-process .am-process-item .am-process-content .am-process-brief {
	font-size: 15px;
	color: #f9eeee;
	line-height: 20px;
	word-break: break-all
}

.am-process .am-process-item.unpay .am-process-content .am-process-main {
	color: #888
}

.am-process .am-process-item .am-process-down-border,.am-process .am-process-item .am-process-up-border {
	position: absolute;
	left: 11px;
	width: 2px;
	border: 0;
	background-color: #108ee9
}

.am-process .am-process-item .am-process-up-border {
	top: 0;
	height: 30px
}

.am-process .am-process-item .am-process-down-border {
	top: 40px;
	height: 100%
}

.am-process .am-process-item:first-child {
	padding-top: 0
}

.am-process .am-process-item:first-child .am-process-down-border {
	top: 10px
}

.am-process .am-process-item:first-child .am-icon.process {
	top: 0
}

.am-process .am-process-item.pay .am-process-down-border,.am-process .am-process-item.pay .am-process-up-border {
	background-color: #108ee9
}

.am-process .am-process-item.unpay .am-process-down-border,.am-process .am-process-item.unpay .am-process-up-border {
	background-color: #c7c7cc
}

.am-process .am-process-item.fail .am-process-down-border,.am-process .am-process-item.fail .am-process-up-border {
	background-color: #f4333c
}

.am-process.inpage {
	min-height: 130px;
	padding: 15px 15px 10px
}

.am-process.inpage .am-process-item {
	min-height: 28px;
	padding-top: 10px
}

.am-process.inpage .am-process-item .am-icon.process-inpage {
	top: 10px;
	height: 18px;
	width: 18px
}

.am-process.inpage .am-process-item .am-process-content {
	margin-left: 28px
}

.am-process.inpage .am-process-item .am-process-content .am-process-main {
	font-size: 15px;
	line-height: 18px
}

.am-process.inpage .am-process-item .am-process-content .am-process-em {
	color: #F96268;
	font-size: 12px;
	line-height: 15px;
	padding-bottom: 3px
}

.am-process.inpage .am-process-item .am-process-content .am-process-brief {
	font-size: 12px;
	line-height: 15px;
	max-height: 30px;
	overflow: hidden
}

.am-process.inpage .am-process-item .am-process-down-border,.am-process.inpage .am-process-item .am-process-up-border {
	left: 8px;
	height: 20px
}

.am-process.inpage .am-process-item .am-process-down-border {
	top: 20px;
	height: 100%
}

.am-process.inpage .am-process-item:first-child {
	padding-top: 0
}

.am-process.inpage .am-process-item:first-child .am-process-down-border {
	top: 10px
}

.am-process.inpage .am-process-item:first-child .am-icon.process-inpage {
	top: 0
}

.am-process.inpage .am-process-item.fail .am-process-down-border,.am-process.inpage .am-process-item.fail .am-process-up-border {
	background-color: #ccc
}

.am-process.inpage .am-process-item.up-twoline {
	padding-top: 18px
}

.am-process.inpage .am-process-item.up-twoline .am-icon.process-inpage {
	top: 18px
}

.am-process.inpage .am-process-item.up-twoline .am-process-up-border {
	height: 25px
}

.am-process.inpage .am-process-item.up-moreline {
	padding-top: 30px
}

.am-process.inpage .am-process-item.up-moreline .am-icon.process-inpage {
	top: 30px
}

.am-process.inpage .am-process-item.up-moreline .am-process-up-border {
	height: 38px
}

.am-process .am-icon.process,.am-process .am-icon.process-inner-page {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAEICAMAAAAugofBAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABgUExURUxpcczMzPM1OgyN6gqM6s3Q0M7Ozg2M6Q2N62qYz/QyOxKQ7BCN6BOQ6MzOzvQyOxGP6szMzA+O6A+O6f///wCI7fQzPMzMzOr1/Cyg7vd3fV2185zS+Mbl++Xl5YHG9ZoR7ZUAAAATdFJOUwDxW5LuUsXLYxPgLrD7iKcgrtvssSmAAAAGvklEQVRo3p1ah5KjMAxNQg8lBUjMAuH//3JdAFu2DAjN3qTwnlUteZy7XBy5PR73++dzvz8et8ueZLfHB8jjlm3hbx9E/Gpu9w8qd5ySeeCSkh1f3qfk9tmRGxFvMQ7gASO7HyEYnh/CcwbJINOo+1HC3VXw1/xBDPxCqsjA4wYy7C8yS0HTQMCf/MJS8fjYgD/PR1HtnPD5+Bgu/vNxYmqAMDy3ydphGobiuU02YQHieE5ws6agOJ7nDknznx/PCVgJ/HnxPExkAtkkstPksJITRy4NcvHRy5u8gchblNwE6G2G3sjIrZLejMntnj5Q6COLPhTpY5c+2E8cHU4cTujHH6EkDZIwbNswTII020cnLZBkk5MFYetIGHgpKQKXlBSF50nrlSQ/vrxPSdruSErEW4wDeMDIwyOEUHvuxKcTDc+Nld+gHiUsRmXhUUKoch60RwltYCkYGlygCsODfphlFLBhFegFVkI+k0SgspZCaDMrpp2SSRDm950VWRgjxGNmxQm60AORigbLia0yUpYRCKNjURteNvC1a1HbmoR6kglj49T5LOKEEFq8iCAx8WrXnyaMAsSlH9gcT0xBuIZ1YvpZNzE0CTJKS+IYXKtfKENnJS5dNiW2S5WWqTNLI1tWtPAMhKDXxTc70Te1gx/rXtOUacm6gWqQoX6NqEFhUy030LxFB83oRjPFBqUZI6MJjMq7rlfp7pGIcYmNLjAae2Bq8SBLwrrplCm8lnpk0zKDYGwiXhq1p3aVqTGlGVdsIRxu99Evpg6U7OzIog9F+tilD/YTRwf64eTE8Yfjn2lQFMn7nRRFkD73GHlavMOwrKWUYfgu0nwD/uTG1JZww54+eOrCFSVFKXmBwiWlwM5Lyfq8VP/mFylJ6sTy7VldUcq3FeE01M8RBSJiqcceveqyOGJVnhirQ1ipP+iSfRY+40vwTfHcdgDaJ6I7G/VMwPclZJuSKBUBAind9cWHwPDYxgBkP4zj0M1+Kw8gvIQKRdNjfam8yAoTW2LxEuN77CWiyC7Pt2stiGgpRqrC1/X7aVtkeCDftd3QaLywKQg99aZE4bs1FcGlKLfslz1e47kTF7Ms5HQ0g2XjeXlcjDotxVHD9F2eIAC+Ti7GxuEji7FJh2dw8fXbJJRykE2mu80A8ZwAto6wgU2LOgTPTSpAha6MHsdzpwtYj4Mc6spdBM/DaiVOWsKGGd86HSpYtlsJGI0HL0rj+caSi9qjik+X9/Iqg8sGrFJEeTvlKkOF41UbyBPrW17RRr5hFnKzCeiC7Xocr5qA3WY2ZG4zayMr/dsaNDLZKo8oWFvl7Hdp723rzzw/wPGD2wWHkHSjtFuBOVasA8cyskqszWMjyzeE1mGSbo1dJ5Ho2KUPdnh0KA8cHU4cTk4cf4RE1Su+colfVbR/vIpe168h11e0qaMC6JlT+W1B4JKCW5bFX6/E2fHlfUq28S4j+u5KRFnf1pEdwHOG9jz+HpIYc+D3g6AfQ9wwDPo1DWDwzwbjOtcDBJgM8bExHleux4Bh45XfVgoMhoNXXry+HgaC/76gy4CB4YXbSFFIBooXNlVfnIHjeZwsF5AbKcuJmEaIbZ/3CNeLp1BxD04QvnQNMY0Q08Na0QiVXRp7hOji8drjwxUp703Cy9vDPITI25RwgmpN1XFC5bSZbcJ1oxN7tpu/VWKE+HwzJrd7+kChjyz6UKSPXfpgP3F0OHE4oR5/+Poxx8bxkXX5yiBMcUSC71OqZSzLC9Qf2C/es9LPbC6/jYQp/M/uRz8/A8XPDJ/9DPvBiOF+RPj6i44IM8iDl4wYU9B4BVGxpQBTkW0qkCoygkWITa9Ni6RNL9sFtkVgthPxbBGbifZrYxOuM2EZcPZro5v2SQLZJLLT5LDuJe5nJ45cGuTio5c3eQPRtyi5CdDbDL2RkVslvRmfaPf0gXJiZIk7B3lPIX5tyQ/A4WVLku6tnuA3aD4Jlgtxcbs5DupSOfB7K5bXPwGr32eFkmwD31v1x3o/Q+CR/+cwyAtZj/0jVt4j7keOr7/oyDGDet8W7RGjUh4fdL9NXC3jsUpdBZPHnEleaieuB8zjMLeUOV6kuAcC381epHZMkRAJ25Vngx3ZBMuBxgtV0IkQc6HTqeROhIDAH81PRjP6Wi1/jxJYt16R9yD1NmExqVsv1cVdv86MY9Li9LgwhhoE2nF6DeuoPF0ToBMeeBInYlkPnVVaTuKM0mDqeh/g3dIwi08yOpBHt/hAeQvGaKc83dpArBt2NxB9i5KbAL3N0BsZuVXSm/GJdk8fKEdH1j+EbPBuUoJLoQAAAABJRU5ErkJggg==") no-repeat;
	background-size: 24px auto;
	-webkit-background-size: 24px auto
}

.am-process .am-icon.process.fail {
	background-position: 0 0
}

.am-process .am-icon.process.pay {
	background-position: 0 -24px
}

.am-process .am-icon.process.success {
	background-position: 0 -48px
}

.am-process .am-icon.process.unpay {
	background-position: 0 -72px
}

.am-process .am-icon.process-inner-page.fail {
	background-position: 0 -96px
}

.am-process .am-icon.process-inner-page.success {
	background-position: 0 -114px
}

.am-footer-wrap {
	position: relative;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0
}

.am-footer-wrap .am-footer {
	position: absolute;
	top: 250px
}

.am-footer {
	width: 100%;
	margin-bottom: 13px
}

.am-footer .am-footer-copyright {
	color: #ccc;
	font-size: 12px;
	line-height: 14px;
	text-align: center
}

.am-footer .am-footer-interlink {
	text-align: center;
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 14px
}

.am-footer .am-footer-interlink a.am-footer-link {
	color: #108ee9;
	vertical-align: middle;
	margin-right: -3px
}

.am-footer .am-footer-link+.am-footer-link {
	margin-left: 10px
}

.am-footer .am-footer-link+.am-footer-link:before {
	content: '';
	width: 0;
	border-left: 1px solid #ccc;
	margin-right: 11px;
	height: 12px;
	-webkit-transform: scaleX(.5);
	transform: scaleX(.5);
	display: inline-block;
	vertical-align: -2px
}

.am-footer .am-footer-top {
	margin-top: 50px
}